* {
  padding:0;
  margin:0;
}

li {
  list-style:none;
}

body {
  background-color: #f8f8f8;
}

.container {
  position:absolute;
  top: 10px;
  left: 10px;
  height: 1000px;
  width: 1000px;
}

.box{
	position:relative;
	top:180px;
	left:150px;
	width:500px;
	height:500px;
  transform-style:preserve-3d;
	perspective:800px;
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: #f0f0f0;
  transform-style: preserve-3d;
  transition: 0.5s ease all;
  perspective-origin: 50% 50%;
}

.cube li {
  display: block;
	position: absolute;
	width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #333;
  box-sizing: border-box;
	z-index: 10;
  opacity: 1;
}

.face {  
  transform-style: preserve-3d;
  transform-origin: 50px 50px;
}

.rotating {
  animation: cubeRotate 5s linear infinite;
}

@keyframes cubeRotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.controller {
  position: absolute;
  left: 800px;
  top: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.controller .item {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin-top: 20px;
}

.container button {
  width: 60px;
}